html {
    font-size: 20px;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: white;
}

a {
    text-decoration: none;

    &:visited {
        color: white;
    }
}

@mixin parallax-depth($depth, $perspective: 1) {
    transform: translateZ(#{$depth}px) scale(1 + ($depth * -1) / $perspective);
}

.parallax-container {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective-origin-x: 100%;

    background-color: #55a9fe;
}

.parallax-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin-x: 100%;
    &.sun {
        @include parallax-depth(-10);

        .sun-image {
            width: 100px;
            top: 100px;
            right: 100px;
            position: absolute;
        }
    }

    &.hill-2 {
        @include parallax-depth(-1);
        .hill-image {
            top: 300px;
        }
    }

    &.hill-3 {
        @include parallax-depth(-2);
        .hill-image {
            top: 250px;
        }
    }
}

.hill-1 {
    .hill-wrapper {
        top: 350px;
        width: 100%;
        position: absolute;
    }
    .hill-image {
        width: 100%;
        // Needed to avoid space dedicated to character danglers
        vertical-align: bottom;
    }
}

.hill-2, .hill-3 {
    .hill-image {
        // Need an extra few px to offset scrollbar
        left: -10px;
        min-width: calc(100% + 10px);
        min-height: 200px;
        position: absolute;
    }
}

.content-container {
    background-color: #77bb7d;
    height: 100vh;
    // Needed to cover up where the boxes meet
    margin-top: -1px;

    .content {
        box-sizing: border-box;
        padding: 50px 50px 0;
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
    }
}

.nameHeader {
    position: sticky;
    top: 50px;
    left: 50px;
    margin: 0;
    z-index: 100;
    display: inline-block;
    font-size: 2rem;
}

.links {
    display: flex;
    justify-content: space-between;

    .links-item {
        display: block;
        flex: 1 1 0;
        max-width: 25%;
        text-align: center;

        transition: 0.4s ease-out;
        transition-property: max-width;

        &:hover, &:focus {
            text-decoration: underline;
            max-width: 30%;
        }

        img {
            object-fit: contain;
            margin-bottom: 30px;
            width: 100%;
        }
    }
}
