.parallax-container {
  perspective: 2px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective-origin-x: 100%;
  background-color: #55a9fe; }

.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin-x: 100%; }
  @media (max-width: 768px) {
    .parallax-layer {
      transform: unset !important; } }

.parallax-group {
  position: relative;
  transform-style: preserve-3d; }

.downs-header {
  height: 100vmin; }
  .downs-header .sun-layer {
    transform: translateZ(-10px) scale(6); }
    .downs-header .sun-layer .sun-image {
      width: 100px;
      top: 100px;
      right: 10%;
      position: absolute; }
  .downs-header .hill-image {
    width: 100%;
    bottom: 0;
    position: absolute; }
  .downs-header .hill-2-layer {
    transform: translateZ(-1px) scale(1.5); }
    .downs-header .hill-2-layer .hill-image {
      bottom: 0; }
  .downs-header .hill-3-layer {
    transform: translateZ(-2px) scale(2); }
    .downs-header .hill-3-layer .hill-image {
      bottom: 0; }
  .downs-header .hill-2-layer .hill-image, .downs-header .hill-3-layer .hill-image {
    left: -10px;
    width: calc(100% + 10px);
    object-fit: contain;
    object-position: bottom; }
  .downs-header .nameHeader {
    position: sticky;
    top: 50px;
    left: 50px;
    margin: 0;
    z-index: 100;
    display: inline-block;
    font-size: 2rem; }
    @media (max-width: 768px) {
      .downs-header .nameHeader {
        position: absolute; } }

html {
  font-size: 24px;
  overflow: hidden; }
  @media (max-width: 768px) {
    html {
      font-size: 20px; } }

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: white; }

a {
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: underline; }
  a:visited {
    color: white; }

.content-container {
  background-color: #77bb7d;
  margin-top: -1px; }
  .content-container .content {
    box-sizing: border-box;
    padding: 50px 50px;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto; }

.links {
  display: flex;
  justify-content: space-between;
  padding: 20px 0; }
  .links .links-item {
    display: block;
    flex: 1 1 0;
    max-width: 25%;
    text-align: center;
    position: relative;
    font-size: 28px;
    bottom: 0;
    padding-top: 20px;
    transition: 0.3s ease-out;
    transition-property: bottom; }
    @media (max-width: 768px) {
      .links .links-item {
        font-size: 24px; } }
    .links .links-item:hover, .links .links-item:focus {
      text-decoration: underline;
      bottom: 20px; }
    .links .links-item img {
      object-fit: contain;
      margin-bottom: 30px;
      width: 100%; }
