body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: white;
}

@mixin depth($depth, $perspective: 1) {
    transform: translateZ(#{$depth}px) scale(1 + ($depth * -1) / $perspective);
}

.parallax-container {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective-origin-x: 100%;

    background-color: #55a9fe;
}

.parallax-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin-x: 100%;
    &.sun {
        @include depth(-10);

        img {
            width: 100px;
            top: 100px;
            right: 100px;
            position: absolute;
        }
    }

    &.hill-1 {
        .hill-wrapper {
            top: 350px;
            width: 100%;
            position: relative;
        }
        img {
            width: 100%;
            object-fit: cover;
            // Needed to avoid space dedicated to character danglers
            vertical-align: bottom;
        }
    }

    &.hill-2 {
        @include depth(-1);
        img {
            top: 300px;
            // Need an extra few px to offset scrollbar
            min-width: calc(100% + 10px);
            left: -10px;
            min-height: 200px;
            position: absolute;
        }
    }

    &.hill-3 {
        @include depth(-2);
        img {
            top: 250px;
            // Need an extra few px to offset scrollbar
            min-width: calc(100% + 10px);
            left: -10px;
            min-height: 200px;
            position: absolute;
        }
    }
}

.content-container {
    background-color: #77bb7d;
    height: 100vh;
    // Needed to cover up where the boxes meet
    margin-top: -1px;

    .content {
        box-sizing: border-box;
        padding: 50px 50px 0;
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        font-size: 20px;
    }
}

.nameHeader {
    position: sticky;
    top: 50px;
    left: 50px;
    margin: 0;
    z-index: 100;
    display: inline-block;
}

.links {
    display: flex;
    justify-content: space-between;

    .links-item {
        display: block;
        flex: 1 1 0;
        max-width: 25%;
        text-align: center;

        transition: 0.4s ease-out;
        transition-property: max-width;

        &:hover, &:focus {
            text-decoration: underline;
            max-width: 30%;
        }

        img {
            object-fit: contain;
            margin-bottom: 30px;
        }
    }
}

a {
    text-decoration: none;

    &:visited {
        color: white;
    }
}