@import 'parallax';
@import 'values';

.downs-header {
    height: 100vmin;

    .sun-layer {
        @include parallax-depth(10);

        .sun-image {
            width: 100px;
            top: 100px;
            right: 100px;
            position: absolute;
        }
    }

    .hill-2-layer {
        @include parallax-depth(1);
        .hill-image {
            bottom: 0;
        }
    }

    .hill-3-layer {
        @include parallax-depth(2);
        .hill-image {
            bottom: 0;
        }
    }

    .hill-1-layer {

        .hill-image {
            width: 100%;
            bottom: 0;
            position: absolute;
        }

        .dog-image {
            position: absolute;
            right: 30%;
            bottom: 30%;
            z-index: 50;
        }
    }

    .hill-2-layer, .hill-3-layer {
        .hill-image {
            // Need an extra few px to offset scrollbar
            left: -10px;
            width: calc(100% + 10px);
            min-height: 200px;
            object-fit: contain;
            object-position: bottom;
            position: absolute;
        }
    }

    .nameHeader {
        position: sticky;
        top: 50px;
        left: 50px;
        margin: 0;
        z-index: 100;
        display: inline-block;
        font-size: 2rem;

        @media (max-width: $mobile-breakpoint) {
            position: absolute;
        }
    }
}

