@import 'values';

@mixin parallax-depth($depth) {
    transform: translateZ(-#{$depth}px) scale(1 + $depth / $perspective);
    transform-origin: bottom right;
}

.parallax-container {
    perspective: #{$perspective}px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective-origin-x: 100%;
    perspective-origin: bottom right;

    background-color: #55a9fe;
}

.parallax-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin-x: 100%;

    // Not very performant on many mobile devices.
    @media (max-width: $mobile-breakpoint) {
        transform: unset !important;
    }
}

.parallax-group {
    position: relative;
    transform-style: preserve-3d;
}