@import 'header';
@import 'values';

html {
    font-size: 24px;
    @media (max-width: $mobile-breakpoint) {
        font-size: 20px;
    }

    // Needed to enable parallax on the body element.
    // Need to do parallax on the body to allow keyboard scrolling
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: white;
}

a {
    text-decoration: none;

    &:hover, &:focus {
        text-decoration: underline;
    }
}

.content-container {
    background-color: #77bb7d;
    // Needed to cover up where the boxes meet
    margin-top: -1px;

    .content {
        box-sizing: border-box;
        padding: 50px 50px;
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        @media (max-width: $mobile-breakpoint) {
            padding: 50px 30px;
        }
    }
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    grid-column-gap: 10px;

    @media (max-width: $mobile-small-breakpoint) {
        flex-direction: column;
    }

    .links-item {
        $raise-amount: 20px;

        display: block;
        flex: 1 1 0;
        max-width: 25%;
        min-width: 8ch;
        text-align: center;
        position: relative;
        color: white;

        bottom: 0;
        padding-top: $raise-amount;
        transition: 0.3s ease-out;
        transition-property: bottom;

        font-size: 28px;

        &:visited {
            color: white;
        }

        &:hover, &:focus {
            text-decoration: underline;
            bottom: $raise-amount;
        }

        @media (max-width: $mobile-breakpoint) {
            font-size: 24px;
        }

        @media (max-width: $mobile-small-breakpoint) {
            max-width: 50%;
        }

        img {
            object-fit: contain;
            margin-bottom: 30px;
            width: 100%;

            @media (max-width: $mobile-small-breakpoint) {
                margin-bottom: 10px;
            }
        }
    }
}
